/*=========================================
		Sign-IN
=========================================*/

body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* ==========================================
	Grid
   ========================================== */
@media (max-width: 1000px) {
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
	.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
	.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
	.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		clear: both;
	}
}

.news-ready-th{
	margin-top:30px;
	background: #222222;
	color: #ffffff;
	font-size:1em ;
    border-top: none;
 	padding: 10px;
}
.news-ready-tr{
	background: #e0e0e0;
	color: #222222;
	font-size:1em ;
    border-top: none;
 	padding: 10px;
}
.news-ready-tr-sec{
	background: #f4f4f4;
	color: #222222;
	font-size:1em ;
    border-top: none;
 	padding: 10px;
}
.news-ready-td{
	background: #222222;
	color: #ffffff;
	font-size:1em ;
    border-top: none;
 	padding: 10px;
}

/* ==========================================
	Tool Tips
   ========================================== */
.tooltips {
    display: none;
    position: absolute;
    margin-top: -50px;
	padding: 6px 12px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	line-height: 16px;
    background-color: #222222;
	border: 1px solid #d5d5d5;
    color: #ffffff;
}

/*
 * Main content dashboard
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* Custom Colored Panels */
hr {
  border: 1px;
 width: 100%;
color: #428bca;
background-color: #428bca;
height: 1px !important;
}

div hr {
  border: 1px;
 width: 100%;
color: #5cb85c;
background-color: #5cb85c;
height: 1px !important;
}

.big {
	font-size: 20px;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c !important;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f !important;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e !important;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}